/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";




// 「最後の要素以外」にCSSを適用
.notification:not(:last-child) {
  margin-bottom: 0;
}

.profile_image {
  border-radius: 50%;
}

.main-visual {
	width: 100%;
	height: 1100px;
}

.main-image {
	background-image: image-url("mlo.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
}

@media screen and (max-width: 375px) {
  .main-visual {
	  height: 160px;
  }
  .main-image {
	  height: 160px;
  }
}



